#sidenav {
}

#rectangle1 {
    position: absolute;
    width: 75px;
    height: 900px;
    left: 0px;
    top: 0px;

    background: #3A3768;
}

#search_icon {
    position: relative;
    left: 1234px;
    top: 30px;
}
#settings_icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1284px;
    top: 30px;

}
#notification_icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1323px;
    top: 30px;
}
#profile_icon {
    position: absolute;
    width: 48.44px;
    height: 48.44px;
    left: 1361.56px;
    top: 20px;

    background: url(.jpg);
}
#search_rect {
    position: absolute;
    width: 314px;
    height: 35px;
    left: 953px;
    top: 25px;

    outline: none;
    border: 2px solid #999999;
    border-radius: 87px;
}

#mid_rect_texta1 {
    position: relative;
    width: 72px;
    height: 21px;
    left: 19px;
    top: 19px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #3A3A3A;   
}

#mid_rect_textb1 {
    position: relative;
    width: 139px;
    height: 35px;
    left: 19px;
    top: -10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    /* identical to box height */


    color: #3A3A3A;
}

#mid_rect_textc1 {
    position: relative;
    width: 72px;
    height: 16px;
    right: -400px;
    top: -75px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;


    color: #000000;
}

#mid_rect1 {
    position: absolute;
    width: 504px;
    height: 328px;
    left: 105px;
    top: 375px;

    background: rgba(187, 222, 251, 0.6);
    border-radius: 20px;
}
#mid_rect2 {
    position: absolute;
    width: 420px;
    height: 328px;
    left: 624px;
    top: 375px;

    background: rgba(255, 205, 210, 0.6);
    border-radius: 20px;
}
#mid_rect3 {
    position: absolute;
    width: 351px;
    height: 328px;
    left: 1059px;
    top: 375px;

    background: rgba(255, 236, 179, 0.6);
    border-radius: 20px;
}


#mid_rect4 {
    position: absolute;
    width: 469px;
    height: 178px;
    left: 105px;
    top: 723px;

    background: #80CBC4;
    border-radius: 20px;
}

#mid_rect5 {
    position: absolute;
    width: 451px;
    height: 178px;
    left: 593px;
    top: 723px;
    
    background: #B39DDB;
    border-radius: 20px;
}

#mid_rect6 {
    position: absolute;
    width: 351px;
    height: 178px;
    left: 1059px;
    top: 723px;

    background: #FFAB91;
    border-radius: 20px;
}

#horizontal_break {
    position: absolute;
    width: 1305px;
    height: 0px;
    left: 105px;
    top: 325px;

    border: 1px solid #CECECE;
}

#trending_up {
    position: relative;
    width: 55px;
    height: 55px;
    left: 75%;
    top: -200px;
}

#arrow_upword {
    position: relative;
    left: 25px;
    top: -65px
}
#arrow_downword {
    position: relative;
    left: 25px;
    top: -65px
}

#top_rect_data1 {
    position: relative;
    width: 72px;
    height: 50px;
    left: 25px;
    top: -35px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 49px;

    display: flex;
    align-items: center;

    color: #1A1A1A;
}

#top_rect_textb1_green {
    position: relative;
    width: 92px;
    height: 21px;
    left: 55px;
    top: -102px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #66BB6A;

}

#top_rect_textb1_red {
    position: relative;
    width: 92px;
    height: 21px;
    left: 55px;
    top: -102px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #EF5350;

}

#top_rect_texta1 {
    position: relative;
    width: 133px;
    height: 27px;
    left: 25px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #512DA8;
}

#top_rect1 {
    position: absolute;
    width: 314.09px;
    height: 124px;
    left: 105px;
    top: 185px;

    background: rgba(179, 157, 219, 0.2);
    border-radius: 20px;
}

#top_rect2 {
    position: absolute;
    width: 314.09px;
    height: 124px;
    left: 435px;
    top: 185px;

    background: rgba(128, 203, 196, 0.2);
    border-radius: 20px;
}
#top_rect3 {
    position: absolute;
    width: 314.09px;
    height: 124px;
    left: 765px;
    top: 185px;

    background: rgba(255, 224, 130, 0.2);
    border-radius: 20px;
}
#top_rect4 {
    position: absolute;
    width: 314.09px;
    height: 124px;
    left: 1096px;
    top: 185px;

    background: rgba(255, 171, 145, 0.2);
    border-radius: 20px;
}

#welcome_text {
    position: absolute;
    width: 201px;
    height: 22px;
    left: 110px;
    top: 120px;
    margin-bottom: 5%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.8438px;
    line-height: 22px;

    color: #3A3A3A;
}

#username {
    position: absolute;
    width: 360px;
    height: 83px;
    left: 105px;
    top: 30px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 82px;
    display: flex;
    align-items: center;

    color: #1A1A1A;
}

#exit_to_app {
    position: absolute;
    left: 25%;
    right: 12.5%;
    top: 92%;
    bottom: 12.5%;
}

#double_arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 27px;
    top: 473px;
}

#vector1 {
    position: absolute;
    left: 30%;
    right: 96.81%;
    top: 25.5%;
    bottom: 85.67%;
}
#vector2 {
    position: absolute;
    left: 30%;
    right: 96.81%;
    top: 25%;
    bottom: 85.67%;
}
#vector3 {
    position: absolute;
    left: 25%;
    right: 96.81%;
    top: 25%;
    bottom: 85.67%;
}
#vector4 {
    position: absolute;
    left: 25%;
    right: 96.81%;
    top: 25%;
    bottom: 85.67%;
}
#vector5 {
    position: absolute;
    left: 30%;
    right: 96.81%;
    top: 30%;
    bottom: 85.67%;
}
#vector6 {
    position: absolute;
    left: 25%;
    right: 96.81%;
    top: 30%;
    bottom: 85.67%;
}
#vector7 {
    position: absolute;
    left: 30%;
    right: 96.81%;
    top: 25%;
    bottom: 85.67%;
}

#ellipse1 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 98px;
    border-radius: 50%;

    background: #F0F4C3;
}

#ellipse2 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 153px;
    border-radius: 50%;

    background: #F0F4C3;
}
#ellipse3 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 205px;
    border-radius: 50%;

    background: #F0F4C3;
}
#ellipse4 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 257px;
    border-radius: 50%;

    background: #F0F4C3;
}
#ellipse5 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 308px;
    border-radius: 50%;

    background: #F0F4C3;
}
#ellipse6 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 361px;
    border-radius: 50%;

    background: #F0F4C3;
}
#ellipse7 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 15px;
    top: 413px;
    border-radius: 50%;

    background: #F0F4C3;
}

#overlook1 {
    position: absolute;
    left: 25%;
    right: 96.18%;
    top: 3.33%;
    bottom: 91.27%;

    background: #3A3768;
}